<!-- HANDLEBARS TEMPLATE -->
<ul class="list-group">
  {{#categories}}
    <li class="list-group-item" id="cat-{{name}}">
        <i class="fas fa-chevron-left"></i> {{prettyName}}
      </a>
    </li>
  {{/categories}}
</ul>
<!-- END HANDLEBARS TEMPLATE -->