
body {
	background-image: url('assets/hiveiobckg.png');
	background: linear-gradient(0deg, rgb(25, 26, 28) 0%, rgb(50, 54, 60) 100%);
	background-attachment: fixed;
	background-repeat: no-repeat;
	min-height: 100%;
	width: 100%;
	height: auto;
}

.nonfavorite {
	float: right;
}

.favorite {
	float: right;
}

.submenu {
	display: none;
}

.list-group-item {
	background: rgba(25, 26, 28, 0);

	border-top: 1px solid #ffffff79;
	border-radius: 0;
	color: rgb(255, 255, 255);

}

/* Pizza Menu Basic Link Control */

.list-group-item a:link, a:visited {
  background-color: #33393e;
  
  border-radius: 4px;
   width: 75%; 
  color: rgb(255, 255, 255);
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-shadow: 4px 4px 12px #1d1d1d,
  -4px -4px 12px #474747;
}

.list-group-item a:hover, a:active {
  background-color: #d33612;
  box-shadow: 2px 2px 5px #640000,
  -2px -2px 5px #b30000;
}

/* Pizza Menu Basic Scrollbar Control */

  ::-webkit-scrollbar {
	width: 20px;
		background-color: #000000;
  }

  ::-webkit-scrollbar-thumb {
	background-color: #33393e;
	border-radius: 20px;
	border: 6px solid transparent;
	background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
	background-color: #d33612;
  }